## Data Sources

https://api.covid19india.org/csv/

### Import Libraries

In [1]:
# to get web contents
import requests
# to parse json contents
import json
# to parse csv files
import csv

# for numerical operations
import numpy as np
# to store and analysis data in dataframes
import pandas as pd

### raw data

In [2]:


# read data
raw_1 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data1.csv')
raw_2 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data2.csv')
raw_3 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data3.csv')
raw_4 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data4.csv')
raw_5 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data5.csv')
raw_6 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data6.csv')

# concatenate dfs
full_data = pd.concat([raw_1, raw_2, raw_3, raw_4, raw_5, raw_6])

# save to csv`
full_data.to_csv('data/patients_data.csv', index=False)

# first few rows
full_data.head()

/home/hadoop/.local/lib/python2.7/site-packages/ipykernel_launcher.py:12: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  if sys.path[0] == '':

,Age Bracket,Backup Notes,Contracted from which Patient (Suspected),Current Status,Date Announced,Detected City,Detected District,Detected State,Entry_ID,Estimated Onset Date,...,Num Cases,Num cases,Patient Number,Source_1,Source_2,Source_3,State Patient Number,State code,Status Change Date,Type of transmission
0,20,Student from Wuhan,NaN,Recovered,30/01/2020,Thrissur,Thrissur,Kerala,NaN,NaN,...,NaN,1.0,1.0,https://twitter.com/vijayanpinarayi/status/122...,https://weather.com/en-IN/india/news/news/2020...,NaN,KL-TS-P1,KL,14/02/2020,Imported
1,NaN,Student from Wuhan,NaN,Recovered,02/02/2020,Alappuzha,Alappuzha,Kerala,NaN,NaN,...,NaN,1.0,2.0,https://www.indiatoday.in/india/story/kerala-r...,https://weather.com/en-IN/india/news/news/2020...,NaN,KL-AL-P1,KL,14/02/2020,Imported
2,NaN,Student from Wuhan,NaN,Recovered,03/02/2020,Kasaragod,Kasaragod,Kerala,NaN,NaN,...,NaN,1.0,3.0,https://www.indiatoday.in/india/story/kerala-n...,https://twitter.com/ANI/status/122422148580539...,https://weather.com/en-IN/india/news/news/2020...,KL-KS-P1,KL,14/02/2020,Imported
3,45,Travel history to Italy and Austria,NaN,Recovered,02/03/2020,East Delhi (Mayur Vihar),East Delhi,Delhi,NaN,NaN,...,NaN,1.0,4.0,https://www.indiatoday.in/india/story/not-a-ja...,https://economictimes.indiatimes.com/news/poli...,NaN,DL-P1,DL,15/03/2020,Imported
4,24,"Travel history to Dubai, Singapore contact",NaN,Recovered,02/03/2020,Hyderabad,Hyderabad,Telangana,NaN,NaN,...,NaN,1.0,5.0,https://www.deccanherald.com/national/south/qu...,https://www.indiatoday.in/india/story/coronavi...,https://www.thehindu.com/news/national/coronav...,TS-P1,TG,02/03/2020,Imported

### daily cases data

In [3]:
# read data
day_wise = pd.read_csv('https://api.covid19india.org/csv/latest/case_time_series.csv')

# save as a .csv file
day_wise.to_csv('data/nation_level_daily.csv', index=False)

# first few rows
day_wise.head()

,Date,Daily Confirmed,Total Confirmed,Daily Recovered,Total Recovered,Daily Deceased,Total Deceased
0,30 January,1,1,0,0,0,0
1,31 January,0,1,0,0,0,0
2,01 February,0,1,0,0,0,0
3,02 February,1,2,0,0,0,0
4,03 February,1,3,0,0,0,0

### state_level_latest

In [4]:
## https://api.covid19india.org/csv/latest/state_wise.csv
    
# read data
state_level_latest = pd.read_csv('https://api.covid19india.org/csv/latest/state_wise.csv')

# save as a .csv file`
state_level_latest.to_csv('data/state_level_latest.csv', index=False)

# first few rows
state_level_latest.head()

,State,Confirmed,Recovered,Deaths,Active,Last_Updated_Time,Migrated_Other,State_code,Delta_Confirmed,Delta_Recovered,Delta_Deaths,State_Notes
0,Total,567476,335271,16906,215239,30/06/2020 11:16:14,60,TT,-60,0,2,NaN
1,Maharashtra,169883,88960,7610,73298,29/06/2020 19:54:14,15,MH,0,0,0,15 cases were marked as non-covid deaths in MH...
2,Tamil Nadu,86224,47749,1141,37334,29/06/2020 18:50:15,0,TN,0,0,0,2 deaths cross notified to other states from C...
3,Delhi,85161,56235,2680,26246,29/06/2020 21:46:14,0,DL,0,0,0,"Delhi bulletins in the morning, containing dat..."
4,Gujarat,32023,23248,1828,6947,29/06/2020 20:26:16,0,GJ,0,0,0,NaN

### state_wise_daily

In [5]:
# read data
state_wise_daily = pd.read_csv('https://api.covid19india.org/csv/latest/state_wise_daily.csv')
# change wider data into longer
state_wise_daily = state_wise_daily.melt(id_vars = ['Date', 'Status'])

#pivot operation
state_wise_daily = state_wise_daily.pivot_table(values = 'value', index = ['Date', 'variable'], columns='Status').reset_index()
state_wise_daily.rename(columns = {'variable':'State'}, inplace=True)

# State Name mapping
state_map = {state:state_name for state, state_name in zip(state_level_latest['State_code'], state_level_latest['State'])}
state_map['DD']='Daman & Diu'
state_wise_daily['State_name'] = state_wise_daily['State'].map(state_map)

# Saving to csv file
state_wise_daily.to_csv('data/state_level_daily.csv')

# first few rows
state_wise_daily.head()

Status,Date,State,Confirmed,Deceased,Recovered,State_name
0,01-Apr-20,AN,0,0,0,Andaman and Nicobar Islands
1,01-Apr-20,AP,67,0,1,Andhra Pradesh
2,01-Apr-20,AR,0,0,0,Arunachal Pradesh
3,01-Apr-20,AS,15,0,0,Assam
4,01-Apr-20,BR,3,0,0,Bihar

### district_wise

In [6]:
# read data
district_wise = pd.read_csv('https://api.covid19india.org/csv/latest/district_wise.csv')

# save as .csv file
district_wise.to_csv('data/district_level_latest.csv', index=False)

# first few rows
district_wise.head()

,SlNo,State_Code,State,District_Key,District,Confirmed,Active,Recovered,Deceased,Migrated_Other,Delta_Confirmed,Delta_Active,Delta_Recovered,Delta_Deceased,District_Notes,Last_Updated
0,0,UN,State Unassigned,UN_Unassigned,Unassigned,6975,6975,0,0,0,-281,-281,0,0,NaN,NaN
1,1,AN,Andaman and Nicobar Islands,AN_Nicobars,Nicobars,0,0,0,0,0,0,0,0,0,NaN,NaN
2,2,AN,Andaman and Nicobar Islands,AN_North and Middle Andaman,North and Middle Andaman,1,0,1,0,0,0,0,0,0,NaN,NaN
3,3,AN,Andaman and Nicobar Islands,AN_South Andaman,South Andaman,49,17,32,0,0,0,0,0,0,NaN,NaN
4,0,AP,Andhra Pradesh,AP_Foreign Evacuees,Foreign Evacuees,391,294,97,0,0,0,0,0,0,NaN,NaN

### test_day_wise

In [7]:
# read data
tests_day_wise = pd.read_csv('https://api.covid19india.org/csv/latest/tested_numbers_icmr_data.csv')

# save as .csv file
tests_day_wise.to_csv('data/tests_day_wise.csv', index=False)

# first few rows
tests_day_wise.head()

,Update Time Stamp,Tested As Of,Total Samples Tested,Total Individuals Tested,Total Positive Cases,Tests conducted by Private Labs,Sample Reported today,Positive cases from samples reported,Source,Source 1,Test positivity rate,Individuals Tested Per Confirmed Case,Tests Per Confirmed Case,Tests per million
0,13/03/2020 00:00:00,13/03/2020,6500.0,5900.0,78,NaN,NaN,NaN,Press_Release_ICMR_13March2020.pdf,NaN,1.20%,75.64,83.33,5.0
1,18/03/2020 18:00:00,18/03/2020,13125.0,12235.0,150,NaN,NaN,NaN,ICMR_website_update_18March_6PM_IST.pdf,NaN,1.14%,81.57,87.50,10.0
2,19/03/2020 10:00:00,19/03/2020,13316.0,12426.0,168,NaN,NaN,NaN,ICMR_website_update_19March_10AM_IST_V2.pdf,NaN,1.26%,73.96,79.26,10.0
3,19/03/2020 18:00:00,19/03/2020,14175.0,13285.0,182,NaN,NaN,NaN,ICMR_website_update_19March_6PM_IST.pdf,NaN,1.28%,72.99,77.88,11.0
4,20/03/2020 10:00:00,20/03/2020,14376.0,13486.0,206,NaN,NaN,NaN,ICMR_website_update_20March_10AM_IST.pdf,NaN,1.43%,65.47,69.79,11.0

### State wise test data

In [8]:
# read data
tests_state_wise = pd.read_csv('https://api.covid19india.org/csv/latest/statewise_tested_numbers_data.csv')

# save as .csv file
tests_state_wise.to_csv('data/tests_state_wise.csv', index=False)

# first few rows
tests_state_wise.head(3)

,Updated On,State,Total Tested,Tag (Total Tested),Positive,Negative,Unconfirmed,Cumulative People In Quarantine,Total People Currently in Quarantine,Tag (People in Quarantine),...,Num Calls State Helpline,Source1,Unnamed: 21,Source2,Unnamed: 23,Test positivity rate,Tests per thousand,Tests per million,Tests per positive case,Population NCP 2019 Projection
0,17/04/2020,Andaman and Nicobar Islands,1403.0,Samples Sent,12.0,1210,181.0,NaN,NaN,NaN,...,NaN,https://t.me/indiacovid/2550,NaN,NaN,NaN,0.86%,3.53,3534.0,117.0,397000.0
1,24/04/2020,Andaman and Nicobar Islands,2679.0,Samples Sent,27.0,NaN,246.0,NaN,614.0,Institutional,...,280.0,https://t.me/indiacovid/3147?single,NaN,NaN,NaN,1.01%,6.75,6748.0,99.0,397000.0
2,27/04/2020,Andaman and Nicobar Islands,2848.0,Samples Sent,33.0,NaN,106.0,NaN,724.0,Institutional,...,298.0,https://t.me/indiacovid/3365?single,NaN,NaN,NaN,1.16%,7.17,7174.0,86.0,397000.0